<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Update company</title>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation-admin}"></div>



<form th:action="@{/update/company}" th:method="post">
  <label for="honorarium">New honorarium:</label>
  <input type="number" id="honorarium" name="honorarium">
  <button type="submit">Update</button>
  <table>
    <tr>
      <th>Name</th>
      <th>Honorarium</th>
      <th>Username</th>
      <th>Pick company</th>
    </tr>
    <tr th:each="c : ${companies}">
      <td th:text="${c.companyName}"></td>
      <td th:text="${c.honorarium}"></td>
      <td th:text="${c.user.username}"></td>
      <td>
        <label>
          <!--                    <input type="radio" th:field="*{selectedTrip}" th:value="${t}" />-->
          <input type="radio" th:name="selectedCompany" th:value="${c.companyId}"/>
        </label>
      </td>
    </tr>
  </table>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>