<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Sell a ticket</title>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation-cashier}"></div>
<form th:action="@{/sell/ticket}" th:method="post">
    <label for="customer-name">Enter customer name:</label>
    <input type="text" id="customer-name" name="customer-name" th:name="customerName" required><br>
    <label for="email">Enter email:</label>
    <input type="text" id="email" name="email" th:name="email"><br>
    <table>
        <tr>
            <th>locationFrom</th>
            <th>locationTo</th>
            <th>departure</th>
            <th>timeOfDeparture</th>
            <th>arrival</th>
            <th>timeOfArrival</th>
            <th>transportTypeName</th>
            <th>tripTypeName</th>
            <th>companyName</th>
            <th>pick a request</th>
        </tr>
        <tr th:each="t : ${allTrips}">
            <td th:text="${t.locationFrom.locationName}"></td>
            <td th:text="${t.locationTo.locationName}"></td>
            <td th:text="${t.departure}"></td>
            <td th:text="${t.timeOfDeparture}"></td>
            <td th:text="${t.arrival}"></td>
            <td th:text="${t.timeOfArrival}"></td>
            <td th:text="${t.transportTypeId.transportTypeName}"></td>
            <td th:text="${t.tripTypeId.tripTypeName}"></td>
            <td th:text="${t.companyId.companyName}"></td>
            <td>
                <label>
<!--                    <input type="radio" th:field="*{selectedTrip}" th:value="${t}" />-->
                    <input type="radio" th:name="selectedTrip" th:value="${t.tripId}" />
                </label>
            </td>
        </tr>
    </table>
<!--    <input type="hidden" th:field="*{selectedTrip}" />-->
    <input type="submit" value="Sell ticket">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</form>
</body>
</html>