<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Sell a ticket</title>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation-cashier}"></div>

<div class="container">

    <div th:if="${param.error}">
        <div class="alert alert-danger text-center mt-2">
            Error when selling ticket - there are no tickets for this trip.
        </div>
    </div>
    <div th:if="${param.name}">
        <div class="alert alert-danger text-center mt-2">
            Customer name contains invalid characters.
        </div>
    </div>
    <div th:if="${param.success}">
        <div class="alert alert-success text-center mt-2">
            Ticket successfully sold.
        </div>
    </div>

    <form th:action="@{/sell/ticket}" method="get">
        <div class="row">

            <div class="form-outline d-flex justify-content-between gap-3">

                <div class="container">
                    <div class="form-outline d-flex justify-content-center gap-3">
                        <div class="row">
                            <h4 class="text-center">Locations</h4>

                            <label for="location-from">Choose departure location:</label>
                            <select name="location-from" id="location-from" class="form-control">
                                <option></option>
                                <option th:each="location : ${locations}"
                                        th:value="${location.locationName}"
                                        th:text="${location.locationName}">
                                </option>
                            </select>
                            <label for="location-to">Choose arrival location:</label>
                            <select name="location-to" id="location-to" class="form-control">
                                <option></option>
                                <option th:each="location : ${locations}"
                                        th:value="${location.locationName}"
                                        th:text="${location.locationName}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-outline d-flex justify-content-center gap-3">
                        <div class="row">
                            <h4 class="text-center">Transport type</h4>

                            <label for="transport-type">Choose transport type:</label>
                            <select name="transport-type" id="transport-type" class="form-control">
                                <option></option>
                                <option th:each="t : ${transporttypes}"
                                        th:value="${t.transportTypeName}"
                                        th:text="${t.transportTypeName}">
                                </option>
                            </select>
                            <button type="submit" class="btn btn-primary btn-block mt-4" style="width: 100%">Filter</button>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-outline d-flex justify-content-center gap-3">
                        <div class="row">
                            <h4 class="text-center">Departure date</h4>
                            <label for="departure">From:</label>
                            <input type="date" id="departure" name="departure" class="form-control">
                            <label for="arrival">To:</label>
                            <input type="date" id="arrival" name="arrival" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-outline d-flex justify-content-center gap-3">
<!--                    <button type="submit" class="btn btn-primary btn-block mt-5" style="width: 10%">Filter</button>-->
                </div>
            </div>
        </div>
    </form>

    <br><br>
    <h3 class="text-center mt-3">All trips</h3>

    <form th:action="@{/sell/ticket}" th:method="post">
        <table id="example" class="table table-bordered">
            <thead>
            <tr>
                <th scope="col" class="text-center">Departure location</th>
                <th scope="col" class="text-center">Arrival location</th>
                <th scope="col" class="text-center">Departure date</th>
                <th scope="col" class="text-center">Departure hour</th>
                <th scope="col" class="text-center">Arrival date</th>
                <th scope="col" class="text-center">Arrival hour</th>
                <th scope="col" class="text-center">Transport type</th>
                <th scope="col" class="text-center">Trip type</th>
                <th scope="col" class="text-center">Company organizer</th>
                <th scope="col" class="text-center">Ticket price</th>
                <th scope="col" class="text-center">Tickets left</th>
                <th scope="col" class="text-center">Choose trip</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${allTrips}">
                <td class="text-center" th:text="${t.locationFrom.locationName}"></td>
                <td class="text-center" th:text="${t.locationTo.locationName}"></td>
                <td class="text-center" th:text="${t.departure}"></td>
                <td class="text-center" th:text="${t.timeOfDeparture}"></td>
                <td class="text-center" th:text="${t.arrival}"></td>
                <td class="text-center" th:text="${t.timeOfArrival}"></td>
                <td class="text-center" th:text="${t.transportTypeId.transportTypeName}"></td>
                <td class="text-center" th:text="${t.tripTypeId.tripTypeName}"></td>
                <td class="text-center" th:text="${t.companyId.companyName}"></td>
                <td class="text-center" th:text="${t.price}"></td>
                <td class="text-center" th:text="${rep.findAllCountByTripId(t)} - ${rep.findAllSoldTicketsByTrip(t)}"></td>
                <td class="text-center">
                    <label>
                        <input type="radio" th:name="selectedTrip" th:value="${t.tripId}" required/>
                    </label>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="form-outline d-flex justify-content-end gap-3">
            <div class="row">
<!--                <div class="row">-->
<!--                    <div class="form-outline d-flex justify-content-end gap-3">-->
                <div class="row">
                    <div class="form-outline d-flex justify-content-end gap-3">
                        <label for="customer-name" class="form-label">Enter customer name:</label>
                        <input type="text" class="form-control" style="width: 20%" id="customer-name"
                               name="customer-name" th:name="customerName">
                    </div>
                </div>
                <div class="row">
                    <div class="form-outline d-flex justify-content-end gap-3 mt-3">
                        <label for="email" class="form-label">Enter email:</label>
                        <input type="text" class="form-control" style="width: 20%" id="email" name="email"
                               th:name="email">
                    </div>
                </div>
<!--                    </div>-->
<!--                </div>-->
                <div class="row">
                    <div class="form-outline d-flex justify-content-end gap-3">
                        <input type="submit" class="btn btn-primary btn-block mt-3" style="width: 20%" name="sell"
                               value="Sell ticket">
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="/js/script.js"></script>

</body>
</html>